@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:  hsl(233, 47%, 7%);
    color: rgba(255, 255, 255, 0.532);

    font-family: "Inter", sans-serif;
    font-size: 12px;
}

h1 {
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-size: 28px;
}

p {
    line-height: 20px;
}

h2 {
    color: white;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

span {
    color: hsl(277, 64%, 61%);
}

.card {
    max-width: 60%;
    display: flex;
    background-color:  hsl(244, 38%, 16%);
    box-sizing: border-box;
    border-radius: 8px;

}

.img-container {
    display: flex;
    box-sizing: border-box;
    position: relative;

}

.img-container > img {
    border-radius: 0 8px 8px 0;
    width: 100%;
}

.content {
    box-sizing: border-box;
    padding: 2rem 5rem 2rem 3rem;
    max-width: 52%;
}

.content-text > p {
    margin-right: 0.5rem;
}

.img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(105, 8, 147, 0.5);  
}

.content-statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.content-statistics > div > p {
    margin: 0;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
}
